<ul class="navbar-nav" id="navbar-nav">
    <li class="menu-title"><span data-key="t-menu">Menyular</span></li>

    <li class="nav-item">
        <a class="nav-link menu-link" href="/" role="button" aria-expanded="false">
            <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Bosh sahifa</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link menu-link" href="#sidebarBooks" data-bs-toggle="collapse" role="button" aria-expanded="false"
           aria-controls="sidebarBooks">
            <i class="bx bx-layer"></i> <span data-key="t-apps">Kitoblar </span>
        </a>
        <div class="collapse menu-dropdown" id="sidebarBooks">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link text-success"> Kitob olish </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-warning"> Kitobni qaytarish </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link"> Mening kitoblarim </a>
                </li>

            </ul>
        </div>
    </li>


</ul>