{% load static %}

<!doctype html>

<html lang="en" data-layout="vertical" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="enable" data-sidebar-visibility="show" data-layout-style="default" data-bs-theme="light" data-layout-width="fluid" data-layout-position="fixed">
<head>

    <meta charset="utf-8" />
    <title>Elektron kutubxona tizimi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Elektron kutubxona tizimi" name="description" />
    <meta content="CODE TECH Group" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>

    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />

    {% block custom_css %}{% endblock custom_css %}
    <script src="//code.jivo.ru/widget/Z6oLmLBa9u" async></script>

</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">

        {% block topbar_header %}{% endblock topbar_header %}

<!-- removeNotificationModal -->
<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="/dashboard" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/pngs/new-logo.png' %}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/pngs/new-logo.png' %}" alt="" width="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/dashboard" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/pngs/new-logo.png' %}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/pngs/new-logo.png' %}" alt="" height="17">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>

                    {% block sidebar %}
                    {% endblock sidebar %}

                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                {% block content %}
                {% endblock content %}
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Elektron kutubxona tizimi.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Develop by <b>"CODE-TECH"</b> Group
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Toasts Container -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050">
    <div id="toast-container"></div>
</div>

<!-- Toast Template -->
<div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" id="toast-template" style="display: none;">
    <div class="d-flex">
        <div class="toast-body">
            <span id="toast-message"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'assets/js/pages/dashboard-blog.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

<!-- Scripts for Toast -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const successMessage = "{{ successMessage|escapejs }}";

        // Agar successMessage bo'lsa, toast ko'rsatamiz
        if (successMessage) {
            // Toastni ko'rsatish
            const toastContainer = document.getElementById("toast-container");
            const toastTemplate = document.getElementById("toast-template");

            const toastClone = toastTemplate.cloneNode(true);
            toastClone.style.display = "block";
            toastClone.querySelector("#toast-message").textContent = successMessage;
            toastContainer.appendChild(toastClone);

            const toast = new bootstrap.Toast(toastClone);
            toast.show();

            // URL'dan successMessage parametrini olib tashlash
            history.replaceState(null, '', window.location.pathname);
        }
    });
</script>

    {% block custom_js %}{% endblock custom_js %}
</body>

</html>